################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Module_1_Incapsulation/Incapsulation.Failures/.vs/Incapsulation.Failures
/Module_1_Incapsulation/Incapsulation.Failures/bin/Debug/net8.0
/Module_1_Incapsulation/Incapsulation.Failures/obj
*.sln
/Module_1_Incapsulation/Incapsulation.EnterpriseTask/.vs/Incapsulation.EnterpriseTask/FileContentIndex
/Module_1_Incapsulation/Incapsulation.EnterpriseTask/bin/Debug/net8.0
/Module_1_Incapsulation/Incapsulation.EnterpriseTask/obj
/Module_1_Incapsulation/Incapsulation.Failures/.vs/ProjectEvaluation
