################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Module_1_Incapsulation/Incapsulation.Failures/.vs/Incapsulation.Failures
/Module_1_Incapsulation/Incapsulation.Failures/bin/Debug/net8.0
/Module_1_Incapsulation/Incapsulation.Failures/obj
*.sln
/Module_1_Incapsulation/Incapsulation.EnterpriseTask/.vs/Incapsulation.EnterpriseTask/FileContentIndex
/Module_1_Incapsulation/Incapsulation.EnterpriseTask/bin/Debug/net8.0
/Module_1_Incapsulation/Incapsulation.EnterpriseTask/obj
/Module_1_Incapsulation/Incapsulation.Failures/.vs/ProjectEvaluation
/Module_1_Incapsulation/Incapsulation.EnterpriseTask/.vs/Incapsulation.EnterpriseTask
/Module_1_Incapsulation/Incapsulation.Weights/.vs/Incapsulation.Weights/FileContentIndex
/Module_1_Incapsulation/Incapsulation.Weights/obj
/Module_1_Incapsulation/Incapsulation.Weights/bin/Debug/net8.0
/Module_1_Incapsulation/Incapsulation.RationalNumbers/.vs/Incapsulation.RationalNumbers/FileContentIndex
/Module_1_Incapsulation/Incapsulation.RationalNumbers/bin/Debug/net8.0
/Module_1_Incapsulation/Incapsulation.RationalNumbers/obj
/Module_1_Incapsulation/Incapsulation.Weights/.vs/Incapsulation.Weights
/Module_1_Incapsulation/Incapsulation.RationalNumbers/.vs/Incapsulation.RationalNumbers
/Module_2_Inheritance/Inheritance.DataStructure/.vs/Inheritance.DataStructure
/Module_2_Inheritance/Inheritance.DataStructure/bin/Debug/net8.0
/Module_2_Inheritance/Inheritance.DataStructure/obj
